<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 welcome-top">
      <div class="col-md-4 mx-auto ">
        <div class="card">
          <div class="card-body welcome-body">
            <h1 class=""> Welcome to</h1>
            <h1 class="text-center pb-4 pt-3">
              <span class="welcome-tomato">Tomato  
              </span>
              <span class="welcome-potato">Potato</span>
              <span> & </span>
              <span class="welcome-tomato">Tomato</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
