
<div class="navbar-default navbar-expand-md">
  <div class="container-fluid">
    <div class="row top-nav">
      <div class="navbar-header col-3">
        <a class="navbar-brand" routerLink="/" href="#">Sales System</a>
      </div>
      <div class="col-9">
        <ul class="navbar-nav ml-auto justify-content-end">
          <li *ngIf="!isLoggedIn" class="nav-item">
            <a routerLink="/" class="nav-link">Login</a>
          </li>
          <li *ngIf="isLoggedIn && !isRegionManager" class="nav-item">
            <a class="nav-link">STORE: {{store_id}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link">NAME: {{name}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link">JOB: {{job_title}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a class="nav-link">ID: {{salesperson_id}}</a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a href="" (click)="onLogoutClick()" class="nav-link">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
