<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/salesperson']">All Salespersons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/salesperson/add']">Add New Salesperson</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active">Update Salesperson</a>
        </li>
      </ul>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="col-md-6 mx-auto">
      <div class="card">
        <div class="card-header">
          Update Salesperson
        </div>
        <div class="card-body " *ngFor="let salesperson of salespersons">
          <form #SalespersonForm="ngForm" (ngSubmit)="onSubmit(SalespersonForm)">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" class="form-control" name="name" #salespersonName="ngModel" [ngClass]="{'is-invalid': salespersonName.errors && salespersonName.touched}"
                [(ngModel)]="salesperson.name" required>
              <div [hidden]="!salespersonName.errors?.required" class="invalid-feedback">
                Name required
              </div>
            </div>

            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" name="email" #salespersonEmail="ngModel" [ngClass]="{'is-invalid': salespersonEmail.errors && salespersonEmail.touched}"
                [(ngModel)]="salesperson.email" required pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
              <div [hidden]="!salespersonEmail.errors?.required" class="invalid-feedback">
                Email required
              </div>
              <div [hidden]="!salespersonEmail.errors?.pattern" class="invalid-feedback">
                Email is not valid
              </div>
            </div>

            <div class="form-group">
              <label for="address">Address</label>
              <input type="text" class="form-control" name="address" #salespersonAddress="ngModel" [ngClass]="{'is-invalid': salespersonAddress.errors && salespersonAddress.touched}"
                [(ngModel)]="salesperson.address" required>
              <div [hidden]="!salespersonAddress.errors?.required" class="invalid-feedback">
                Address required
              </div>
            </div>

            <div class="form-group ">
              <label for="jobTitle">Job Title</label>
              <select class="form-control" name="jobTitle" #salespersonJobTitle="ngModel" [ngClass]="{'is-invalid': salespersonJobTitle.errors && salespersonJobTitle.touched}"
                [(ngModel)]="salesperson.job_title" required>
                <option value="">Job Title</option>
                <option *ngIf="isStoreManager || isRegionManager" value="salesperson">Salesperson</option>
                <option *ngIf="isRegionManager" value="store_manager">Store Manager</option>
              </select>
              <div [hidden]="!salespersonJobTitle.errors?.required" class="invalid-feedback">
                Job Title required
              </div>
            </div>

            <div class="form-group">
              <label for="salary">Salary</label>
              <input type="number" class="form-control" name="salary" #salespersonSalary="ngModel" [ngClass]="{'is-invalid': salespersonSalary.errors && salespersonSalary.touched}"
                [(ngModel)]="salesperson.salary" min="0" required>
              <div [hidden]="!salespersonSalary.errors?.required" class="invalid-feedback">
                Salary required
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password" #salespersonPassword="ngModel" [ngClass]="{'is-invalid': salespersonPassword.errors && salespersonPassword.touched}"
                [(ngModel)]="salesperson.password" required>
              <div [hidden]="!salespersonPassword.errors?.required" class="invalid-feedback">
                Password required
              </div>
            </div>

            <!-- 通过登陆自动判断store id，存放在local storage -->
            <div class="form-group">
              <label for="store_id">Store ID</label>
              <input type="text" class="form-control" name="store_id" #salespersonStoreId="ngModel" [ngClass]="{'is-invalid': salespersonStoreId.errors && salespersonStoreId.touched}"
                [(ngModel)]="salesperson.store_id" required>
              <div [hidden]="!salespersonStoreId.errors?.required" class="invalid-feedback">
                Store ID required
              </div>
            </div>

            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
