<p>
  add-customer works!
</p>
<div class="card card-body mb-3">
  <form>
    <div class="from-group">
      <label for="">Name</label>
      <input type="text" class="from-control" name="name" #name><br>
      <label for="">Address</label>
      <input type="text" class="from-control" name="address" #address><br>
      <script>
        function cll(id){
          if(id=="home"){
            eval("div1.style.display=\"\";");
            eval("div2.style.display=\"none\";");
          }
          if(id=="business"){
            eval("div2.style.display=\"\";");
            eval("div1.style.display=\"none\";");}
        }
      </script>
      <select name="kind" onChange="cll(this.value)">
        <option value="home">Home</option>
        <option value="business">Business</option>
      </select>
      <div id="div1">
          <label for="">category</label>
          <input type="text" class="from-control" name="category" #category><br>
          <label for="">company_income</label>
          <input type="text" class="from-control" name="company_income" #company_income><br>
        </div>
      <div id="div2">
          <label for="">marry_status</label>
          <input type="text" class="from-control" name="marry_status" #marry_status><br>
          <label for="">gender</label>
          <input type="text" class="from-control" name="gender" #gender><br>
          <label for="">age</label>
          <input type="text" class="from-control" name="age" #age><br>
          <label for="">income</label>
          <input type="text" class="from-control" name="income" #income><br>
        </div>

      
    </div>
    <button (click) = "AddCustomer()">Add</button>
  </form>
</div>
