<nav class="col-md-3 sidebar">
    <!-- <nav class="col-md-3 d-none d-md-block bg-lig sidebar"> -->
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a [routerLink]="['/customer']" class="nav-link">
          <i class="fa fa-users"></i>
          Customers
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/product']" class="nav-link">
          <i class="fa fa-shopping-cart"></i>
          Products
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/transaction']" class="nav-link">
          <i class="fa fa-file-text-o"></i>
          Transactions
        </a>
      </li>
      <li class="nav-item">
          <a [routerLink]="['/salesperson']" class="nav-link">
            <i class="fa fa-vcard"></i>
            Salesperson
          </a>
        </li>
      <li class="nav-item">
        <a [routerLink]="['/store']" class="nav-link">
          <i class="fa fa-home"></i>
          Stores
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/inventory']" class="nav-link">
          <i class="fa fa-truck"></i>
          Inventories
        </a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/dashboard']" class="nav-link">
          <i class="fa fa-bar-chart"></i>
          dashboard
        </a>
      </li>
    </ul>
  </div>
</nav>
